<form data-members-form="subscribe" class="subscribe-form">
  <input data-members-newsletter type="hidden" value="Mostly Music" />
  <input class="text-input" data-members-email type="email" required placeholder="Enter your email" />

  <button type="submit">Subscribe</button>

  <div class="newsletter-notifications">
    <p class="loading">⏳ Subscribing...</p>
    <p class="success">🚀 Success! Check your inbox to verify your email.</p>
    <p class="error">❌ Something's gone wrong.</p>
    <p data-members-error class="error"></p>
  </div>
</form>
